<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="/css/styles.css">
        {% endblock %}
    </head>
    <body>
        {% block header %}
        {% endblock %}
        {% block body %}
        {% set nombre = "MIGUEL" %}
        {#Esto es un comentario #}
        <h1>{{nombre}}</h1>
        {% endblock %}
        {% block javascripts %}{% endblock %}
        {% block footer %}
        {% endblock %}
    </body>
</html>
