{% extends "base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/listaStyles.css">
{% endblock %}
{% block title %}
Lista de tareas de Migueles, Raúl y Shirley
{% endblock %}

{% block body %}
    <h1>Lista de tareas</h1>
    <form method="post" action="{{ path('listaTareas')}}">
        <input name="tarea" type="text">
        <input type="submit" value="Agregar">
    </form>
    <div class="lista">
        <table>
        {% for tarea in tareas %}
            <tr id="{{ tarea.id }}">
                <td><input class="checkbox" type="checkbox"></td>
                <td class="task">{{ tarea.id }}-{{ tarea.tarea }}</td>
                <td class="erase"></td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}